.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bodyContainer {
    max-width: 700px;
    min-width: 600px;
    border: 2px double var(--black2);
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.imageAndLabelContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.imageLogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: flex-start;
}

.leftLabelsUpper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.nbspacingSpan {
    text-decoration: underline;
}

.paragraphLong {
    text-align: justify;
}

ul {
    padding: 4px 0px 4px 30px;
}

.noticeAtt {
    text-decoration: underline;
}

.nameSignAndAuthority {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}